# CLTV Prediction With BG-NBD and Gamma-Gamma

In [1]:
pip install lifetimes

Requirement already satisfied: lifetimes in c:\users\guldeniz\anaconda3\lib\site-packages (0.11.3)
Requirement already satisfied: numpy>=1.10.0 in c:\users\guldeniz\anaconda3\lib\site-packages (from lifetimes) (1.19.2)
Requirement already satisfied: autograd>=1.2.0 in c:\users\guldeniz\anaconda3\lib\site-packages (from lifetimes) (1.3)
Requirement already satisfied: dill>=0.2.6 in c:\users\guldeniz\anaconda3\lib\site-packages (from lifetimes) (0.3.4)
Requirement already satisfied: pandas>=0.24.0 in c:\users\guldeniz\anaconda3\lib\site-packages (from lifetimes) (1.1.3)
Requirement already satisfied: scipy>=1.0.0 in c:\users\guldeniz\anaconda3\lib\site-packages (from lifetimes) (1.5.2)
Requirement already satisfied: future>=0.15.2 in c:\users\guldeniz\anaconda3\lib\site-packages (from autograd>=1.2.0->lifetimes) (0.18.2)
Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pytz>=2017.2 in c:\users\guldeniz\anaconda3\lib\site-packages (from pandas>=0.24.0->lifetimes) (2020.1)

Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\guldeniz\anaconda3\lib\site-packages (from pandas>=0.24.0->lifetimes) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\guldeniz\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->lifetimes) (1.15.0)

### Libraries

In [2]:
import datetime as dt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter

pd.set_option('display.max_columns', None)

pd.set_option('display.max_columns', None)
df_ = pd.read_excel(r"E:\4. HAFTA\online_retail_II.xlsx",
                    sheet_name="Year 2010-2011")
df = df_.copy()
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

### Data Preperation

In [4]:
def check_df(dataframe):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(3))
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.quantile([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

    
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit


def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    # dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit


def crm_data_prep(dataframe):
    dataframe.dropna(axis=0, inplace=True)
    dataframe = dataframe[~dataframe["Invoice"].str.contains("C", na=False)]
    dataframe = dataframe[dataframe["Quantity"] > 0]
    replace_with_thresholds(dataframe, "Quantity")
    replace_with_thresholds(dataframe, "Price")
    dataframe["TotalPrice"] = dataframe["Quantity"] * dataframe["Price"]
    return dataframe

In [5]:
check_df(df)

##################### Shape #####################
(406830, 8)
##################### Types #####################
Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object
##################### Head #####################
  Invoice StockCode                         Description  Quantity  \
0  536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6
1  536365     71053                 WHITE METAL LANTERN         6
2  536365    84406B      CREAM CUPID HEARTS COAT HANGER         8

          InvoiceDate  Price  Customer ID         Country
0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
##################### NA #####################
Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64
##################### Quantiles #####################
                0.00      0.05      0.50     0.95     0.99     1.00
Quantity    -80995.0      1.00      5.00     36.0    120.0  80995.0
Price            0.0      0.42      1.95      8.5     15.0  38970.0
Customer ID  12346.0  12626.00  15152.00  17905.0  18212.0  18287.0

In [6]:
df_prep = crm_data_prep(df)
check_df(df_prep)

##################### Shape #####################
(397925, 9)
##################### Types #####################
Invoice                object
StockCode              object
Description            object
Quantity              float64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
TotalPrice            float64
dtype: object
##################### Head #####################
  Invoice StockCode                         Description  Quantity  \
0  536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER       6.0
1  536365     71053                 WHITE METAL LANTERN       6.0
2  536365    84406B      CREAM CUPID HEARTS COAT HANGER       8.0

          InvoiceDate  Price  Customer ID         Country  TotalPrice
0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom       15.30
1 2010-12-01 08:26:00   3.39      17850.0  United Kingdom       20.34
2 2010-12-01 08:26:00   2.75      17850.0  United Kingdom       22.00
##################### NA #####################
Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
TotalPrice     0
dtype: int64
##################### Quantiles #####################
                0.00      0.05      0.50     0.95      0.99       1.00
Quantity         1.0      1.00      6.00     36.0    120.00    298.500
Price            0.0      0.42      1.95      8.5     14.95     37.060
Customer ID  12346.0  12627.00  15159.00  17912.0  18211.00  18287.000
TotalPrice       0.0      1.25     11.80     67.5    183.60   3268.575

### Creating RFM Segments

In [7]:
def create_rfm(dataframe):
    

    today_date = dt.datetime(2011, 12, 11)

    rfm = dataframe.groupby('Customer ID').agg({'InvoiceDate': lambda date: (today_date - date.max()).days,
                                                'Invoice': lambda num: num.nunique(),
                                                "TotalPrice": lambda price: price.sum()})

    rfm.columns = ['recency', 'frequency', "monetary"]

    rfm = rfm[(rfm['monetary'] > 0)]


    rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5, 4, 3, 2, 1])
    rfm["frequency_score"] = pd.qcut(rfm["frequency"].rank(method="first"), 5, labels=[1, 2, 3, 4, 5])


    rfm['rfm_segment'] = rfm['recency_score'].astype(str) + rfm['frequency_score'].astype(str)

    seg_map = {
        r'[1-2][1-2]': 'hibernating',
        r'[1-2][3-4]': 'at_risk',
        r'[1-2]5': 'cant_loose',
        r'3[1-2]': 'about_to_sleep',
        r'33': 'need_attention',
        r'[3-4][4-5]': 'loyal_customers',
        r'41': 'promising',
        r'51': 'new_customers',
        r'[4-5][2-3]': 'potential_loyalists',
        r'5[4-5]': 'champions'
    }

    rfm['rfm_segment'] = rfm['rfm_segment'].replace(seg_map, regex=True)
    rfm = rfm[["recency", "frequency", "monetary", "rfm_segment"]]
    return rfm


rfm = create_rfm(df_prep)
rfm.head()

             recency  frequency  monetary  rfm_segment
Customer ID
12346.0          326          1    310.44  hibernating
12347.0            3          7   4310.00    champions
12348.0           76          4   1770.78      at_risk
12349.0           19          1   1491.72    promising
12350.0          311          1    331.46  hibernating

### Calculated CLTV

In [8]:
def create_cltv_c(dataframe):
    # avg_order_value
    dataframe['avg_order_value'] = dataframe['monetary'] / dataframe['frequency']

    # purchase_frequency
    dataframe["purchase_frequency"] = dataframe['frequency'] / dataframe.shape[0]

    # repeat rate & churn rate
    repeat_rate = dataframe[dataframe.frequency > 1].shape[0] / dataframe.shape[0]
    churn_rate = 1 - repeat_rate

    # profit_margin
    dataframe['profit_margin'] = dataframe['monetary'] * 0.05

    # Customer Value
    dataframe['cv'] = (dataframe['avg_order_value'] * dataframe["purchase_frequency"])

    # Customer Lifetime Value
    dataframe['cltv'] = (dataframe['cv'] / churn_rate) * dataframe['profit_margin']

    # minmaxscaler
    scaler = MinMaxScaler(feature_range=(1, 100))
    scaler.fit(dataframe[["cltv"]])
    dataframe["cltv_c"] = scaler.transform(dataframe[["cltv"]])

    dataframe["cltv_c_segment"] = pd.qcut(dataframe["cltv_c"], 3, labels=["C", "B", "A"])

    dataframe = dataframe[["recency", "frequency", "monetary", "rfm_segment",
                           "cltv_c", "cltv_c_segment"]]

    return dataframe

In [9]:
check_df(rfm)

##################### Shape #####################
(4338, 4)
##################### Types #####################
recency          int64
frequency        int64
monetary       float64
rfm_segment     object
dtype: object
##################### Head #####################
             recency  frequency  monetary  rfm_segment
Customer ID
12346.0          326          1    310.44  hibernating
12347.0            3          7   4310.00    champions
12348.0           76          4   1770.78      at_risk
##################### NA #####################
recency        0
frequency      0
monetary       0
rfm_segment    0
dtype: int64
##################### Quantiles #####################
           0.00      0.05   0.50       0.95        0.99        1.00
recency    1.00    3.0000   51.0   312.0000    369.6300     374.000
frequency  1.00    1.0000    2.0    13.0000     30.0000     210.000
monetary   3.75  110.9455  663.1  5634.3065  16950.4071  266163.525

In [10]:
rfm_cltv = create_cltv_c(rfm)
check_df(rfm_cltv)

##################### Shape #####################
(4338, 6)
##################### Types #####################
recency              int64
frequency            int64
monetary           float64
rfm_segment         object
cltv_c             float64
cltv_c_segment    category
dtype: object
##################### Head #####################
             recency  frequency  monetary  rfm_segment    cltv_c  \
Customer ID
12346.0          326          1    310.44  hibernating  1.000135
12347.0            3          7   4310.00    champions  1.025959
12348.0           76          4   1770.78      at_risk  1.004382

            cltv_c_segment
Customer ID
12346.0                  C
12347.0                  A
12348.0                  A
##################### NA #####################
recency           0
frequency         0
monetary          0
rfm_segment       0
cltv_c            0
cltv_c_segment    0
dtype: int64
##################### Quantiles #####################
           0.00        0.05        0.50         0.95          0.99        1.00
recency    1.00    3.000000   51.000000   312.000000    369.630000     374.000
frequency  1.00    1.000000    2.000000    13.000000     30.000000     210.000
monetary   3.75  110.945500  663.100000  5634.306500  16950.407100  266163.525
cltv_c     1.00    1.000017    1.000614     1.044363      1.401616     100.000

In [11]:
rfm_cltv.head()

,recency,frequency,monetary,rfm_segment,cltv_c,cltv_c_segment
Customer ID,,,,,,
12346.0,326,1,310.44,hibernating,1.000135,C
12347.0,3,7,4310.00,champions,1.025959,A
12348.0,76,4,1770.78,at_risk,1.004382,A
12349.0,19,1,1491.72,promising,1.003110,A
12350.0,311,1,331.46,hibernating,1.000154,C

### Predicted CLTV

In [12]:
def create_cltv_p(dataframe):
    today_date = dt.datetime(2011, 12, 11)

    ## recency kullanıcıya özel dinamik.
    rfm = dataframe.groupby('Customer ID').agg({'InvoiceDate': [lambda date: (date.max()-date.min()).days,
                                                                lambda date: (today_date - date.min()).days],
                                                'Invoice': lambda num: num.nunique(),
                                                'TotalPrice': lambda TotalPrice: TotalPrice.sum()})

    rfm.columns = rfm.columns.droplevel(0)

    rfm.columns = ['recency_cltv_p', 'T', 'frequency', 'monetary']

    rfm["monetary"] = rfm["monetary"] / rfm["frequency"]

    rfm.rename(columns={"monetary": "monetary_avg"}, inplace=True)


    rfm["recency_weekly_cltv_p"] = rfm["recency_cltv_p"] / 7
    rfm["T_weekly"] = rfm["T"] / 7



    rfm = rfm[rfm["monetary_avg"] > 0]

    rfm = rfm[(rfm['frequency'] > 1)]

    rfm["frequency"] = rfm["frequency"].astype(int)

    # BGNBD
    bgf = BetaGeoFitter(penalizer_coef=0.01)
    bgf.fit(rfm['frequency'],
            rfm['recency_weekly_cltv_p'],
            rfm['T_weekly'])

    # exp_sales_1_month
    rfm["exp_sales_1_month"] = bgf.predict(4,
                                           rfm['frequency'],
                                           rfm['recency_weekly_cltv_p'],
                                           rfm['T_weekly'])
    # exp_sales_3_month
    rfm["exp_sales_3_month"] = bgf.predict(12,
                                           rfm['frequency'],
                                           rfm['recency_weekly_cltv_p'],
                                           rfm['T_weekly'])

    # expected_average_profit
    ggf = GammaGammaFitter(penalizer_coef=0.01)
    ggf.fit(rfm['frequency'], rfm['monetary_avg'])
    rfm["expected_average_profit"] = ggf.conditional_expected_average_profit(rfm['frequency'],
                                                                             rfm['monetary_avg'])
    #  6 months cltv_p
    cltv = ggf.customer_lifetime_value(bgf,
                                       rfm['frequency'],
                                       rfm['recency_weekly_cltv_p'],
                                       rfm['T_weekly'],
                                       rfm['monetary_avg'],
                                       time=6,
                                       freq="W",
                                       discount_rate=0.01)

    rfm["cltv_p"] = cltv

    # minmaxscaler
    scaler = MinMaxScaler(feature_range=(1, 100))
    scaler.fit(rfm[["cltv_p"]])
    rfm["cltv_p"] = scaler.transform(rfm[["cltv_p"]])

    # rfm.fillna(0, inplace=True)

    # cltv_p_segment
    rfm["cltv_p_segment"] = pd.qcut(rfm["cltv_p"], 3, labels=["C", "B", "A"])

    ## recency_cltv_p, recency_weekly_cltv_p
    rfm = rfm[["recency_cltv_p", "T", "monetary_avg", "recency_weekly_cltv_p", "T_weekly",
               "exp_sales_1_month", "exp_sales_3_month", "expected_average_profit",
               "cltv_p", "cltv_p_segment"]]


    return rfm


rfm_cltv_p = create_cltv_p(df_prep)
check_df(rfm_cltv_p)

##################### Shape #####################
(2845, 10)
##################### Types #####################
recency_cltv_p                int64
T                             int64
monetary_avg                float64
recency_weekly_cltv_p       float64
T_weekly                    float64
exp_sales_1_month           float64
exp_sales_3_month           float64
expected_average_profit     float64
cltv_p                      float64
cltv_p_segment             category
dtype: object
##################### Head #####################
             recency_cltv_p    T  monetary_avg  recency_weekly_cltv_p  \
Customer ID
12347.0                 365  368    615.714286              52.142857
12348.0                 282  359    442.695000              40.285714
12352.0                 260  297    219.542500              37.142857

              T_weekly  exp_sales_1_month  exp_sales_3_month  \
Customer ID
12347.0      52.571429           0.561684           1.678069
12348.0      51.285714           0.364322           1.087951
12352.0      42.428571           0.739160           2.206857

             expected_average_profit    cltv_p cltv_p_segment
Customer ID
12347.0                   631.911974  2.933517              A
12348.0                   463.745539  1.919391              B
12352.0                   224.886669  1.904146              B
##################### NA #####################
recency_cltv_p             0
T                          0
monetary_avg               0
recency_weekly_cltv_p      0
T_weekly                   0
exp_sales_1_month          0
exp_sales_3_month          0
expected_average_profit    0
cltv_p                     0
cltv_p_segment             0
dtype: int64
##################### Quantiles #####################
                                 0.00        0.05        0.50        0.95  \
recency_cltv_p           0.000000e+00   16.000000  207.000000  361.800000
T                        3.000000e+00   55.000000  283.000000  373.000000
monetary_avg             3.450000e+00  101.978667  300.487308  867.951667
recency_weekly_cltv_p    0.000000e+00    2.285714   29.571429   51.685714
T_weekly                 4.285714e-01    7.857143   40.428571   53.285714
exp_sales_1_month        4.945689e-27    0.128856    0.510695    1.435971
exp_sales_3_month        1.478339e-26    0.383725    1.523013    4.274179
expected_average_profit  5.819483e+00  109.425403  316.538801  917.205040
cltv_p                   1.000000e+00    1.115096    1.881909    4.897332

                                0.99         1.00
recency_cltv_p            369.000000   373.000000
T                         374.000000   374.000000
monetary_avg             1732.183600  5724.302619
recency_weekly_cltv_p      52.714286    53.285714
T_weekly                   53.428571    53.428571
exp_sales_1_month           2.566856    13.469161
exp_sales_3_month           7.672579    40.266173
expected_average_profit  1839.299523  5772.177190
cltv_p                     12.469683   100.000000

In [13]:
crm_final = rfm_cltv.merge(rfm_cltv_p, on="Customer ID", how="left")
check_df(crm_final)

##################### Shape #####################
(4338, 16)
##################### Types #####################
recency                       int64
frequency                     int64
monetary                    float64
rfm_segment                  object
cltv_c                      float64
cltv_c_segment             category
recency_cltv_p              float64
T                           float64
monetary_avg                float64
recency_weekly_cltv_p       float64
T_weekly                    float64
exp_sales_1_month           float64
exp_sales_3_month           float64
expected_average_profit     float64
cltv_p                      float64
cltv_p_segment             category
dtype: object
##################### Head #####################
             recency  frequency  monetary  rfm_segment    cltv_c  \
Customer ID
12346.0          326          1    310.44  hibernating  1.000135
12347.0            3          7   4310.00    champions  1.025959
12348.0           76          4   1770.78      at_risk  1.004382

            cltv_c_segment  recency_cltv_p      T  monetary_avg  \
Customer ID
12346.0                  C             NaN    NaN           NaN
12347.0                  A           365.0  368.0    615.714286
12348.0                  A           282.0  359.0    442.695000

             recency_weekly_cltv_p   T_weekly  exp_sales_1_month  \
Customer ID
12346.0                        NaN        NaN                NaN
12347.0                  52.142857  52.571429           0.561684
12348.0                  40.285714  51.285714           0.364322

             exp_sales_3_month  expected_average_profit    cltv_p  \
Customer ID
12346.0                    NaN                      NaN       NaN
12347.0               1.678069               631.911974  2.933517
12348.0               1.087951               463.745539  1.919391

            cltv_p_segment
Customer ID
12346.0                NaN
12347.0                  A
12348.0                  B
##################### NA #####################
recency                       0
frequency                     0
monetary                      0
rfm_segment                   0
cltv_c                        0
cltv_c_segment                0
recency_cltv_p             1493
T                          1493
monetary_avg               1493
recency_weekly_cltv_p      1493
T_weekly                   1493
exp_sales_1_month          1493
exp_sales_3_month          1493
expected_average_profit    1493
cltv_p                     1493
cltv_p_segment             1493
dtype: int64
##################### Quantiles #####################
                                 0.00        0.05        0.50         0.95  \
recency                  1.000000e+00    3.000000   51.000000   312.000000
frequency                1.000000e+00    1.000000    2.000000    13.000000
monetary                 3.750000e+00  110.945500  663.100000  5634.306500
cltv_c                   1.000000e+00    1.000017    1.000614     1.044363
recency_cltv_p           0.000000e+00   16.000000  207.000000   361.800000
T                        3.000000e+00   55.000000  283.000000   373.000000
monetary_avg             3.450000e+00  101.978667  300.487308   867.951667
recency_weekly_cltv_p    0.000000e+00    2.285714   29.571429    51.685714
T_weekly                 4.285714e-01    7.857143   40.428571    53.285714
exp_sales_1_month        4.945689e-27    0.128856    0.510695     1.435971
exp_sales_3_month        1.478339e-26    0.383725    1.523013     4.274179
expected_average_profit  5.819483e+00  109.425403  316.538801   917.205040
cltv_p                   1.000000e+00    1.115096    1.881909     4.897332

                                 0.99           1.00
recency                    369.630000     374.000000
frequency                   30.000000     210.000000
monetary                 16950.407100  266163.525000
cltv_c                       1.401616     100.000000
recency_cltv_p             369.000000     373.000000
T                          374.000000     374.000000
monetary_avg              1732.183600    5724.302619
recency_weekly_cltv_p       52.714286      53.285714
T_weekly                    53.428571      53.428571
exp_sales_1_month            2.566856      13.469161
exp_sales_3_month            7.672579      40.266173
expected_average_profit   1839.299523    5772.177190
cltv_p                      12.469683     100.000000

In [14]:
crm_final.head(10)

,recency,frequency,monetary,rfm_segment,cltv_c,cltv_c_segment,recency_cltv_p,T,monetary_avg,recency_weekly_cltv_p,T_weekly,exp_sales_1_month,exp_sales_3_month,expected_average_profit,cltv_p,cltv_p_segment
Customer ID,,,,,,,,,,,,,,,,
12346.0,326,1,310.44,hibernating,1.000135,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,3,7,4310.00,champions,1.025959,A,365.0,368.0,615.714286,52.142857,52.571429,0.561684,1.678069,631.911974,2.933517,A
12348.0,76,4,1770.78,at_risk,1.004382,A,282.0,359.0,442.695000,40.285714,51.285714,0.364322,1.087951,463.745539,1.919391,B
12349.0,19,1,1491.72,promising,1.003110,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12350.0,311,1,331.46,hibernating,1.000154,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12352.0,37,8,1756.34,loyal_customers,1.004311,A,260.0,297.0,219.542500,37.142857,42.428571,0.739160,2.206857,224.886669,1.904146,B
12353.0,205,1,89.00,hibernating,1.000011,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12354.0,233,1,1079.40,hibernating,1.001628,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12355.0,215,1,459.40,hibernating,1.000295,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12356.0,23,3,2811.43,potential_loyalists,1.011046,A,302.0,326.0,937.143333,43.142857,46.571429,0.333040,0.993934,995.997679,2.802492,A